# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files

*.iml
*.yml

application.yml.Bak
*MP*.txt

.idea
test
target
out
gen
!/src/main/resources/application.yml
